.chart {
    width: 500px;
    height: 400px;
    text-align: center;
    margin: auto;
    margin-bottom: 150px;
}

.row {
    margin-bottom: 150px;
}

h1 {
    text-align: center;
    margin-bottom: 50px;
}